  a {
    text-decoration: none;
  }
  
  a:hover {
    color: #A3DC00;
  }
  .contaniner {
    margin: 0 auto;
    text-align: center;
    flex-direction: row;
  }
  
  
  .main-title {
    max-width: 960px;
    width: 100%;
    margin-top: 203px;
    margin-left: 200px;
    font-display: center;
    font-family: "Ramaraja", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    font-weight: 400;
    line-height: 76px;
    letter-spacing: 0.002em;
    color: #1B0A42;
    align-items: center;
    text-align: center;
    margin: auto;
  }
  
  .main-info {
    max-width: 960px;
    width: 100%;
    margin-top: 10px;
    margin-left: 200px;
    margin-right: 57px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.04em;
    color: #040000; 
    text-align: center;
    margin: auto;
  }
  
  .main-btn {
   
    width: 152px;
    height: 64px;
    margin-top: 50px;
    margin-left: 200px;
    background-color: #A3DC00;
    border-radius: 6px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    border: none;
   justify-content: center;
   flex-direction: row;
       
  }
  

  .main-img {
    max-width: 282px;
    width: 100%;
    margin-top: 89px;
    margin-bottom: 121px;
    margin-right: 48px;
    margin-left: 19px; 
    flex-direction: row;
    text-align: center;
    margin: 0 auto;
    display: inline;
    border: 2px solid #333333;
    margin: auto;
    
  }
    
 